{% extends "index.html" %}

{% block title %}
    Index.html
{% endblock %}

{% block main %}
<li class="item">
    <img src="https://www.maramani.com/cdn/shop/files/4-bedrooommodernbungalowhouse-ID14511-Image01.jpg?v=1696423958&width=2048">
    <p>House 1</p>
  </li>
  <li class="item">
    <img src="https://www.maramani.com/cdn/shop/files/4-bedrooommodernbungalowhouse-ID14511-Image01.jpg?v=1696423958&width=2048">
    <p>House 2</p>
  </li>
  <li class="item">
    <img src="https://www.maramani.com/cdn/shop/files/4-bedrooommodernbungalowhouse-ID14511-Image01.jpg?v=1696423958&width=2048">
    <p>House 3</p>
  </li>
  <li class="item">
    <img src="https://www.maramani.com/cdn/shop/files/4-bedrooommodernbungalowhouse-ID14511-Image01.jpg?v=1696423958&width=2048">
    <p>House 4</p>
  </li>
 <li class="item">
    <img src="https://www.maramani.com/cdn/shop/files/4-bedrooommodernbungalowhouse-ID14511-Image01.jpg?v=1696423958&width=2048">
    <p>House 5</p>
  </li>
  <li class="item">
    <img src="https://www.maramani.com/cdn/shop/files/4-bedrooommodernbungalowhouse-ID14511-Image01.jpg?v=1696423958&width=2048">
    <p>House 6</p>
  </li>
{% endblock %}