

  <body>
    <section class="one">
        <div class="bighero">
          <h1>Welcome to</h1>
         <img src="../static/img/DynastyExecutive.png"> <p><br>-Your trusted partner in premium property solutions.-</p>
        </div>
      </section>
      <section class="infos"> 
        <div class="content">
          <div class="grid allcenter">
            <div class="float-md-50 wimg"><img src="https://png.pngtree.com/background/20230519/original/pngtree-night-view-of-the-city-skyline-with-an-abstract-pattern-picture-image_2653661.jpg"/></div>
            <div class="float-md-50 winfo">
              <h1 class="title">About Us</h1>
              <p class="description">At Dynasty 8 Executive, we specialize in connecting discerning clients with luxurious properties that redefine modern living. Whether you're searching for a dream home, a lucrative investment opportunity, or a space that inspires, we deliver tailored solutions to meet your unique needs.</p>
            </div>
          </div>
          <div class="grid allcenter">
            <div class="float-md-50 wimg"><img src="https://wallpaperset.com/w/full/2/9/d/70277.jpg"/></div>
            <div class="float-md-50 winfo">
              <h1 class="title">Why choose us?</h1>
              <p class="description">Our team of dedicated professionals brings extensive experience and an unwavering commitment to excellence. With a focus on transparency, innovation, and personalized service, we aim to make every step of your property journey seamless and rewarding. <3</p>
            </div>
          </div>
          <div class="grid allcenter">
            <div class="float-md-50 wimg"><img src="https://media.istockphoto.com/id/1794787920/video/aerial-video-of-shenzhen-cityscape.jpg?s=640x640&k=20&c=f9LRq12Q9El_on20qky-yCFgTEnI5a8A7L0QGRjPB64="/></div>
            <div class="float-md-50 winfo">
              <h1 class="title">What are you waiting for?</h1>
              <p class="description">Come discover the art of sophisticated living with Dynasty 8 Executive now – where your property aspirations meet our expertise.</p>
            </div>
          </div>
        </div>
      </section>
  </body>