<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'><link rel="stylesheet" href="/static/css/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-fg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-12 bg" style="background: linear-gradient(0deg,rgba(39, 39, 39, 0.521), #d4af3795),url('static/img/login bg.png')">
                <div class="info">
                    <img src="/static/img/Dynasty8 Login Logo.png" width="344px">
                    <h1><i>executive</i></h1>
                    <p>Fulfill your inner American Dream</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-12 login">
                <div class="login-section">
                    <div class="logo clearfix">
                        <img src="/static/img/DynastyExecutive.png">
                    </div>
                    <div class="title-login clearfix">
                        <span>Login</span>
                    </div>
                    <div class="form-container">
                        <form action="/login" method="post">
                            <div class="form-group form-fg">
                                <input type="text" name="username" class="input-text" placeholder="Username">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="form-group form-fg">
                                <input type="password" name="password" class="input-text" placeholder="Password">
                                <i class="fa fa-unlock-alt"></i>
                            </div>
                            <div class="checkbox clearfix">
                                <div class="form-check checkbox-fg">
                                    <input class="form-check-input" type="checkbox" value="" id="remember">
                                    <label class="form-check-label" for="remember">
                                        Remember me
                                    </label>
                                </div>
                                <a href="#">Forgot Password</a>
                            </div>
                            <div class="form-group mt-2">
                                <button type="submit" class="btn-md btn-fg btn-block">Login</button>
                            </div>
                        </form>
                    </div>
                    <p>Don't have an account? <a href="/register" class="linkButton"> Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
  <script  src="../static/script.js"></script>

</body>
</html>
