{% extends "layout.html" %}

{% block title %}
    mortgage.html
{% endblock %}

{% block main %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=location_on" />

<nav class="product-menu">
  <div class="search-input">
  <input type="text" placeholder="Search...">
  <label for="email" rel="tooltip" title="email"></label>
  </div>
  <ul>
    <li class="has-dropdown"></li>
    <li class="selected"><a href="/"><i class="material-icons">home</i>All Region</a></li>
    <h><b>Sort by Region</b></h>
    <li><a href="/bungalow_villa"><i class="material-icons">location_on</i>Nevada</a></li>
    <li><a href="/apartment_condo_service"><i class="material-icons">location_on</i>Chicago</a></li>
    <li><a href="/semi_detached_house"><i class="material-icons">location_on</i>Texas</a></li>
    <li><a href="/terrace_link_house"><i class="material-icons">location_on</i>Washington DC</a></li>
    <li><a href="/commercial"><i class="material-icons">location_on</i>Los Angeles</a></li>
    <li><a href="/industrial"><i class="material-icons">location_on</i>California</a></li>
    <li><a href="/agriculture_land"><i class="material-icons">location_on</i>San Francisco</a></li>
    <li><a href="/others"><i class="material-icons">location_on</i>New Jersey</a></li>
</ul>
</nav>
<div class="container group">
 <div class="breadcrumb"></div>
 <ul class="product-grid group">


    <li class="item">
    <img src="https://i.pinimg.com/736x/43/97/0e/43970e7cca9473984f50136a4c6c20ff.jpg">
                <h5>Prinz Eugen</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45281</p>
    </li>


    <li class="item">
    <img src="https://cs50.gallerycdn.vsassets.io/extensions/cs50/ddb50/1.1.2/1691002683906/Microsoft.VisualStudio.Services.Icons.Default">
                <h5>CS50 Duck</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45282</p>
    </li>


    <li class="item">
    <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/c5bd531c-4abf-4126-b9b6-e2d8e42f6626/width=1200/c5bd531c-4abf-4126-b9b6-e2d8e42f6626.jpeg">
                <h5>Frostleaf</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45283</p>
    </li>


    <li class="item">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-gcbLDEMxL7GJKmo11u5Ccakq5Vg7_62edw&s">
                <h5>Texas</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45284</p>
    </li>


    <li class="item">
    <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/201d7dd5-0fea-4b38-bf26-6e5d94539c76/width=450/grin.jpeg">
                <h5>Negev</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45285</p>
    </li>


    <li class="item">
    <img src="https://static.promediateknologi.id/crop/0x648:1080x1711/0x0/webp/photo/p2/74/2024/08/30/Screenshot_2024-08-30-16-02-49-042_comtwitterandroid-3598212822.jpg">
                <h5>Eren Jeager</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45286</p>
    </li>


    <li class="item">
    <img src="https://s1.zerochan.net/Washington.600.2810024.jpg">
                <h5>Washington</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45287</p>
    </li>


    <li class="item">
    <img src="https://s1.zerochan.net/Nevada.%28Azur.Lane%29.600.2445132.jpg">
                <h5>Nevada</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45288</p>
    </li>


    <li class="item">
    <img src="https://cosplayfu-website.s3.amazonaws.com/_Upload/b/103947-Chicago-Cosplay-from-Azur-Lane-2.jpg">
                <h5>Chicago</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45289</p>
    </li>


    <li class="item">
    <img src="https://i.namu.wiki/i/ILyLYkHmLyOEnx1PKv8-twDZxvSIbUjVWRekWkAHvhpUdK0Mf9T-djxhtxTdQSpo4rNddv3BjbIYUISIujYAeg.webp">
                <h5>California</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45290</p>
    </li>


    <li class="item">
    <img src="https://c4.wallpaperflare.com/wallpaper/157/770/401/azur-lane-new-jersey-azur-lane-hd-wallpaper-preview.jpg">
                <h5>New Jersey</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45291</p>
    </li>


    <li class="item">
    <img src="https://prompthero.com/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJaWxoTUdJeFlXVTFZeTFpT0RrMkxUUXhaR1l0T0RRME5pMDFNVGN3WkRObU16YzNaVFFHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6ImJsb2JfaWQifX0=--5f9e0cb79f7215d19daaf1076879c4fa57ac532b/28156297.jpeg">
                <h5>Enterprise</h5>
                <p>Certified Property Agent<br><span class="verify"> (Agent ID Checked <i class="material-icons">check</i>)</span><br>
                    Dynasty Executive Inc <br>
                    Firm: E - 10572, REN 45292</p>
    </li>

</ul>
</div>

<style>
   .item {
    background-color: #ad9e3e!important;
    border-radius: 20px;
    border: 1px solid black;
}
.item h5{
    color: white!important;
    font-size: 1.5rem!important;
    border: 2px bottom red!important;
}

.item img {
        height: 150px!important;
        width: 70!important;
        border-radius: 20px 20px 0px 0px!important;
    }
</style>


{% endblock %}