<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Property Description</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../static/css/prop_desc.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/static/script.js"></script>
</head>


<body>

  <header class="header">
    {% block header %}
    <nav class="header-nav group">
      <div class="nav--container">
        <div class="logo">
          <a href="/"><img height="36px" width="auto" src="../static/img/DynastyExecutive.png"
              alt="DynastyExecutive Logo"></a>
        </div>
        <ul class="nav--primary">
          <div style="position: fixed; z-index: -99; width: 0%; height: 0%">
            <iframe frameborder="0" height="100%" width="100%"
              src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1"
              type="audio/mpeg">
            </iframe>
          </div>
          <embed height="0" width="0" src="http://youtube.googleapis.com/v/dQw4w9WgXcQ&autoplay=1&loop=1" />
          </audio>
          <li class="active"><a class="has-submenu" href="/properties/">Properties</a></li>
          <li><a class="has-submenu" href="/find-agent/">Find Agent</a></li>
          <li><a class="has-submenu" href="/guides/">Guides</a></li>
          <li><a class="has-submenu" href="/sitemap/">More +</a></li>
          <li><a href="/contact/"><i class="material-icons icon--contact">email</i>Contact</a></li>
        </ul>
        <ul class="tools">
          <li><a href="#"><i class="material-icons">date_range</i></a></li>
          {% if session['admin'] == 1 or session['admin'] == 0 %}
          <li class="has-dropdown"><a href="/logout">{{ session['username'] }}</a>
            {% else %}
          <li class="has-dropdown"><a href="/login"><i class="material-icons">account_circle</i></a>
            {% endif %}
            <ul>
              <li></li>
            </ul>
          </li>
          <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
        </ul>
      </div>
      <div class="nav--secondary">
        <ul data-menu="properties" class="active menu menu-1">
          {% if session['admin'] == 1 %}
          <li><a href="/admin/add_property"><i class="material-icons"></i>Add Property</a></li>
          <li><a href="/admin/viewUser"><i class="material-icons"></i>View Users</a></li>
          {% else %}
          <li><a href="/forsale">For Sale</a></li>
          <li><a class="active" href="/forrent">For Rent</a></li>
          <li><a href="/condo">Condo</a></li>
          <li><a href="mortgages">Mortgages</a></li>
          <li><a href="/commercial">Commercial</a></li>
          {% endif %}

        </ul>
        <ul data-menu="find-agent" class="menu menu-2">
          <li><a href="/overview">Overview</a></li>
          <li><a href="#">dunno</a></li>
          <li class="has-dropdown">
            <a href="#">Region</a>
            <ul class="drop2">
              <li style="color: black;"><a href="#">Selangor</a></li>
              <li><a href="#">Kuala Lumpur</a></li>
              <li><a href="#">Seremban</a></li>
              <li><a href="#">Johor</a></li>
            </ul>
          </li>
        </ul>
        <ul data-menu="guides" class="menu menu-3">
          <li><a href="#">Buying</a></li>
          <li><a href="#">Home Financing</a></li>
          <li><a href="#">Renting</a></li>
          <li><a href="#">Legal & Tax</a></li>
          <li class="has-dropdown">
            <a href="#">Support</a>
            <ul>
              <li><a href="#">Tether Guide</a></li>
              <li><a href="#">Tool Safety Roadmap</a></li>
              <li><a href="#">Free Consultation</a></li>
            </ul>
          </li>

        </ul>
        <ul data-menu="sitemap" class="menu menu-4">
          <li><a href="#">About</a></li>
          <li><a href="#">AskGuru</a></li>
          <li><a href="#">News</a></li>
        </ul>

      </div>
    </nav>
    {% endblock %}
  </header>

  {% for house in houses %}
  {% if house["property_name"] == property_name %}
  <!-- partial:index.partial.html -->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">

        <div class="page-header">
          <p>DynastyExecutive.html > {{ house["sale_status"] | join(', ') }} > {{ house["property_type"] }} > {{
            house["property_name"] }}</p>
        </div>

        <div class="carousel slide" id="myCarousel">
          <div class="carousel-inner">
            {% for propDetImg in house["propDetImgs"] %}
            <div class="item">

              <div class="bannerImage">
                <a href="#"><img src="../{{ propDetImg }}" alt=""></a>
              </div>

            </div><!-- /Slide1 -->
            {% endfor %}

            <!--<div class="item">
            
                <div class="bannerImage">
                    <a href="#"><img src="https://5.imimg.com/data5/SELLER/Default/2022/6/VS/WT/RT/119755681/bedroom-interior-designing-500x500.png" alt=""></a>
                </div>
                                                                        
            </div>--><!-- /Slide2 -->

            <!--<div class="item">
            
                <div class="bannerImage">
                    <a href="#"><img src="https://s3-ap-southeast-1.amazonaws.com/atap-main/project-m/88ad2e7c-9dd0-488d-9d56-8e0b67657133/double-storey-bandar-utama-modern-chic.jpg" alt=""></a>
                </div>

            </div>-->

          </div><!-- /Slide2 -->
          <div class="caption row-fluid">
            <div class="span4">
              <h3 style="word-break: break-word;">{{ house["property_name"] }}<br><span class="address">{{
                  house["property_location"] }}, United States</span></h3>
              <p class="price">{{ house["price"] }}</p>

              <a class="btn btn-mini" href="#desc">&raquo; Read More</a>
            </div>
            <div class="span8">
              <table class="catable">
                <thead>
                  <tr>
                    <th class="catable-0lax" colspan="2"><span style="font-weight:bold">Property Details</span></th>
                    <!--<th class="catable-0lax"><span style="font-weight:bold">Facilities</span></th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="catable-0lax">Property Type</td>
                    <td class="catable-alax">{{ house["property_type"] }}</td>
                    <!--<td class="catable-alax">Parking</td>-->
                  </tr>
                  <tr>
                    <td class="catable-0lax">Tenure Type</td>
                    <td class="catable-alax"> {{ house["tenure_type"] | join(', ') }} </td>
                    <!--<td class="catable-alax">Playground</td>-->
                  </tr>
                </tbody>
              </table>
              <p class="facilities"><span>Facilities:</span> {{ house["facilities"] | join(', ') }}</p>
            </div>
          </div>
          <div class="description row-fluid" id="desc" style="margin-top: 75px;">

            <div class="span8">
              
              <table class="catable">
                <thead>
                  <tr>
                    <th class="catable-0lax"><span style="font-weight:bold"><i class="material-icons">crop</i> Lot Size
                        (Sq.ft)</span></th>
                    <th class="catable-0lax"><span style="font-weight:bold"><i class="material-icons">bed</i>
                        Bedroom</span></th>
                    <th class="catable-0lax"><span style="font-weight:bold"><i class="material-icons">shower</i>
                        Bathroom</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="catable-alax">{{ house["property_lot_size"] }}</td>
                    <td class="catable-alax">{{ house["bedroom_number"] }}</td>
                    <td class="catable-alax">{{ house["bathroom_number"] }}</td>
                  </tr>
                </tbody>
              </table>
              <p style="word-break: break-word;">{{ house["property_description"] }}</p>
            </div>
            {% endif %}
            {% endfor %}

            <div class="span4">
              {% for agent in responsible_agents %}
              {% if property_name in agent["property_name_in_charge"] %}
                <a href="javascript:void(0);" onclick="document.getElementById('propertyForm').submit();">
                  <h4>Add to list <i class="material-icons">call</i></h4>
                </a>
              <img src="{{ agent["agent_img"] }}">
              <h5><i class="material-icons">work</i>{{ agent["agent_name"] }}</h5>
              <p>Property Agent<br><span class="verify"> (Agent ID Checked <i
                    class="material-icons">check</i>)</span><br>
                Dynasty Executive Inc <br>
                Firm: E - 10572, {{ agent["agent_code"] }}</p>
              {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="control-box">
            <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
            <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
          </div><!-- /.control-box -->

        </div><!-- /#myCarousel -->

      </div><!-- /.span12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->



  <!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js'></script>
  <script src="../static/prop_desc.js"></script>

</body>

<form id="propertyForm" action="/atc" method="post">
  <input type="hidden" name="propertyName" id="PROPNAMEID" value="{{ property_name }}" />
</form>

</html>