<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Property</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!--<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'><link rel="stylesheet" href="/../css/style.css">-->
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'><!--<link rel="stylesheet" href="/static/css/style.css">-->
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/static/script.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->

<!-- Add login logout based on the role.. -->

<header class="header">
    {% block header %}
  <nav class="header-nav group">
    <div class="nav--container">
      <div class="logo">
        <a href="/"><img height="36px" width="auto" src="../static/img/DynastyExecutive.png" alt="DynastyExecutive Logo"></a>
      </div>
      <ul class="nav--primary">  
        <div style="position: fixed; z-index: -99; width: 0%; height: 0%">
          <iframe frameborder="0" height="100%" width="100%" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1" type="audio/mpeg">
          </iframe>
        </div>
        <embed height="0" width="0"
  src="http://youtube.googleapis.com/v/dQw4w9WgXcQ&autoplay=1&loop=1" />
        </audio>
        <li class="active"><a class="has-submenu" href="/properties/">Properties</a></li> 
        <li><a class="has-submenu" href="/find-agent/">Find Agent</a></li>
        <li><a class="has-submenu" href="/guides/">Guides</a></li>
        <li><a class="has-submenu" href="/sitemap/">More +</a></li>
        <li><a href="/contact"><i class="material-icons icon--contact">email</i> Contact</a></li>
      </ul>
      <ul class="tools">
        <li><a href="#"><i class="material-icons">date_range</i></a></li>
        {% if session['admin'] == 1 or session['admin'] == 0 %}
        <li class="has-dropdown"><a href="/logout">{{ session['username'] }}</a>
        {% else %}
        <li class="has-dropdown"><a href="/login"><i class="material-icons">account_circle</i></a>
        {% endif %}
        <ul>
          <li></li>
        </ul>
        </li>
        <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
      </ul>
    </div>
    <div class="nav--secondary">
      <ul data-menu="properties" class="active menu menu-1">
        {% if session['admin'] == 1 %}
        <li><a href="/admin/add_property"><i class="material-icons"></i>Add Property</a></li>
        <li><a href="/admin/viewUser"><i class="material-icons"></i>View Users</a></li>
        {% else %}
        <li><a href="/forsale">For Sale</a></li>
        <li><a class="active" href="/forrent">For Rent</a></li>
        <li><a href="/condo">Condo</a></li>
        <li><a href="mortgages">Mortgages</a></li>
        <li><a href="/commercial">Commercial</a></li>
        {% endif %}

      </ul>
      <ul data-menu="find-agent" class="menu menu-2">
        <li><a href="/overview">Overview</a></li>
        <li><a href="#">dunno</a></li>
        <li class="has-dropdown">
          <a href="#">Region</a>
          <ul class="drop2">
            <li style="color: black;"><a href="#">Selangor</a></li>
            <li><a href="#">Kuala Lumpur</a></li>
            <li><a href="#">Seremban</a></li>
            <li><a href="#">Johor</a></li>
          </ul>
        </li>
      </ul>
      <ul data-menu="guides" class="menu menu-3">
        <li><a href="/buying">Buying</a></li>
        <li><a href="#">Home Financing</a></li>
        <li><a href="#">Renting</a></li>
        <li><a href="#">Legal & Tax</a></li>
        <li class="has-dropdown">
          <a href="#">Support</a>
          <ul>
            <li><a href="#">Tether Guide</a></li>
            <li><a href="#">Tool Safety Roadmap</a></li>
            <li><a href="#">Free Consultation</a></li>
          </ul>
        </li>

      </ul>
      <ul data-menu="sitemap" class="menu menu-4">
        <li><a href="#">About</a></li>
        <li><a href="#">AskGuru</a></li>
        <li><a href="#">News</a></li>
      </ul>

    </div>
  </nav>
  {% endblock %}
  </header>

<main>
{% block main %}
  <nav class="product-menu">
    <div class="search-input">
    <input type="text" placeholder="Search...">
    <label for="email" rel="tooltip" title="email"></label>
    </div>
    <ul>
      <li class="has-dropdown">
      <li class="selected"><a href="/"><i class="material-icons">home</i>All Properties</a></li>
      <h><b>Residential</b></h>
      <li><a href="/bungalow_villa"><i class="material-icons">work</i>Bungalow/Villa</a></li>
      <li><a href="/apartment_condo_service"><i class="material-icons">accessibility</i>Apartment/Condo/Service Resident</a></li>
      <li><a href="/semi_detached_house"><i class="material-icons">hearing</i>Semi-Detached House</a></li>
      <li><a href="/terrace_link_house"><i class="material-icons">add_circle_outline</i>Terrace/Link House</a></li>
      <h><b>Commercial</b></h>
      <li><a href="/commercial"><i class="material-icons">build</i>Commercial</a></li>
      <li><a href="/industrial"><i class="material-icons">markunread_mailbox</i>Industrial</a></li>
      <li><a href="/agriculture_land"><i class="material-icons">memory</i>Agriculture Land</a></li>
      <li><a href="/others"><i class="material-icons">power_input</i>Others</a></li>
      </li>
  </ul>
     
  </nav>
 <div class="container group">
   <div class="breadcrumb"></div>
   <ul class="product-grid group">
     <!-- use loop to display an amount of properties, Leon -->
   </ul>
  </div>
  {% endblock %}
</main>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script><script  src="../static/script.js"></script>

</body>
</html>
